@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.button-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.modal-container {
  position: absolute;
  top: 25vh;
  left: calc(50% - 300px);

  width: 600px;
  min-height: 300px;
  background-color: #bd2b2b;
  color: white;
  z-index: 5;

  h2 {
    margin: 0;
    min-height: 80px;
    width: 100%;
    background-color: #a82828;

    display: flex;
    align-items: center;

    padding: 20px 100px 20px 30px;
    box-sizing: border-box;
  }

  p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;

    padding: 40px;
    box-sizing: border-box;
  }
}

.modal-button-close {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 50%;
  margin: 0;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;

  &:before, &:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: calc(50% - 12px);
    width: 24px;
    height: 2px;
    background: white;
  }

  &:before {
    transform: rotate(45deg)
  }

  &:after {
    transform: rotate(-45deg)
  }

  &:hover{
    transform: scale(1.1);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
